<div class="sectionPanel">

  <div class="incoming-movies">
    <div class="title-panel">Nadchodzące filmy:</div>

    <a [routerLink]="['/movie', movie.id]" class="movie" *ngFor="let movie of upcomingMovies" >
      <img src="/assets/images/posters/{{ movie.id }}.jpg" />
      <div class="title">{{movie.title}}</div>
      <div class="subtitle">Premiera: {{movie.releaseDate | date:'dd.MM.yyyy'}}</div>
    </a>

  </div>



  <div class="recommended-movies">

    <div class="title-panel">Rekomendowane filmy:</div>

    <a [routerLink]="['/movie', movie.id]" *ngFor="let movie of recommendedMovies" class="recommended-movie"  [ngStyle]="{ 'background-image': 'url(/assets/images/posters/' + movie.id + '.jpg)' }">
      <div class="description">{{movie.title}}</div>
    </a>


  </div>

</div>
